<article class="container">
  
  <section class="columns">
    <div class="column has-text-centered">
      <h1>Shorten Your Links</h1>

      <p>Bank Account<br>
        Choose an operation in the navigation bar.</p>


    </div>
  </section>

  <section class="column">
    <p>
        paragraph
    </p>

  </section>

</article>


