<aside class='sidebar'>

  <p class="">

    O que deseja fazer?

    <a class="button is-light is-fullwidth" href="/clients/balance">
      <strong>Saldo</strong>
    </a>
    <a class="button is-light is-fullwidth" href="/clients/detailed_balance">
      <strong>Extrato</strong>
    </a>
    <a class="button is-light is-fullwidth" href="/clients/withdraw">
      <strong>Saque</strong>
    </a>
    <a class="button is-light is-fullwidth" href="/clients/deposit">
      <strong>Deposito</strong>
    </a>
    <a class="button is-light is-fullwidth" href="/clients/transfer">
      <strong>Transferencia</strong>
    </a>

  </p>

</aside>
